@model IEnumerable<DWD273_Final_Project.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Submit A Ticket</h2>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
 -->

<!-- Ticket Submission system for any type of inquiry.
    Form Citation: https://www.w3schools.com/howto/howto_css_contact_form.asp 
 -->
<label>@Html.DisplayNameFor(model => model.firstName)</label>
<input type="text" id="fname" name="firstname" placeholder="Your first name..">
<br />
<label>@Html.DisplayNameFor(model => model.lastName)</label>
<input type="text" id="lname" name="lastname" placeholder="Your last name..">
<br />
<label>@Html.DisplayNameFor(model => model.topic)</label>
<select id="topic" name="topic">
    <option value="general">General</option>
    <option value="comment">Comment</option>
    <option value="technical">Technical</option>
</select>
<br />
<label>@Html.DisplayNameFor(model => model.message)</label>
<textarea id="message" name="message" placeholder="Type your message here.." style="height:50px"></textarea>

<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submitTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resolved)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resolved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
    -->